body {
    margin: 10px;
    padding: 0px;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.darkMode {
    background-color: #121212;
    color: white;
}

.score {
    text-align: center;
}

.btnDarkMode {
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-p {
    color: green;
}

.green-p {
    color: red;
}

button {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    background-color: #0080007c;
    border: none;
    box-shadow: 0 0 5px #000000ad;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
button:hover {
    background-color:#00800097;
    box-shadow: 0 0 8px black;
    transition: 0.3s;
}

#question {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox-design {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin-right: 15px;
}
